<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>juego piedra papel o tijera</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
    <header aling="center"> 
        <h1> Juego de piedra papel o tijera </h1>
      </header>
      
        <div class="resultado" id="resultado">
          comenzar el juego 

        </div>
       
        <div class="opciones">
          <div class="opcion" id="piedra">

          </div>
  
          <div class="opciones">
            <div class="opcion" id="papel">
             
            </div>
  
            <div class="opciones">
              <div class="opcion" id="tijera">
                
              </div>
      
          
        </div>
        
        <button class="boton1">piedra</button>
        
        <button class="boton2">papel</button>
       
        <button class="boton3">tijera</button>
        
</body>
</html>