body{
    background: #12d4aa;
    
}

header{
    text-align: center;
    padding: 40px;
    font-size: 35px;



}

.resultado{
    text-align: center;
    font-size: 45px;

}

.opciones{
    text-align: center;
    margin: 50px 0;
}
.boton1{
    font-size: 20px;
    height: 28px;
    width: 115px;
    margin: 150px;
}
.boton2{
    font-size: 20px;
    height: 28px;
    width: 115px;
    margin: 150px;
}
.boton3{
    font-size: 20px;
    height: 28px;
    width: 115px;
    margin: 150px;
}

